/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--bg-color);
  opacity: 0.8;
  z-index: 1;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  box-shadow: var(--box-shadow);
  /* background: transparent; */
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  display: block;
  width: 30px;
  height: 30px;
  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: contain;
  background-position: 50% 50%;
}

.slick-prev {
  left: 10px;
}
[dir="rtl"] .slick-prev {
  right: 0px;
  left: auto;
}
.slick-prev:before {
  content: "";
  background-image: url("../../assets/arrowPrev.svg");
  margin: 5px auto;
}
[dir="rtl"] .slick-prev:before {
  content: "";
  background-image: url("../../assets/arrowPrev.svg");
}
.slick-next {
  right: 10px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: 0px;
}
.slick-next:before {
  content: "";
  background-image: url("../../assets/arrowNext.svg");
  margin: 5px auto;
}
[dir="rtl"] .slick-next:before {
  content: "";
  background-image: url("../../assets/arrowNext.svg");
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 20px;
}

.slick-dots {
  position: absolute;
  bottom: -15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: "";
  text-align: center;
  opacity: 0.25;
  background-color: var(--main-color);
  border-radius: 50%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
}
@media (max-width: 639px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
